/* #main {
    display: flex;
  }
  
  #left {
    flex: 2;
    padding: 20px;
    background-color: lightblue;
  }
  
  #right {
    flex: 1;
    padding: 20px;
    background-color: lightgreen;
  }
  
  body {
    text-align: center;
  }
  
  h1 {
    color: navy;
    font-family: sans-serif;
  }
  
  h2 {
    color: green;
    font-family: sans-serif;
  }
  
  p {
    color: maroon;
    font-family: serif;
  }
   */

   /* #main {
    display: flex;
    min-height: 100vh; /* set the minimum height of the div to the height of the viewport */
  /* } */
  
  /* #left {
    flex: 2;
    padding: 20px;
    background-color: lightblue;
  } */
/*   
  #right {
    flex: 1;
    padding: 20px;
    background-color: lightblue;
  } */


  body {
    text-align: left;
    background-color: #F2F2F2;
    font-family: sans-serif;
    font-weight: lighter;
    white-space: pre-wrap;
  }

  img {
    width: 100%;
  }
  #container {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  #abstract {
    font-weight: 900 !important;
    font-style: italic;
  }



  h1, h2, h3, h4 {
    text-align: center;
  }