/* #main {
    display: flex;
  }
  
  #left {
    flex: 2;
    padding: 20px;
    background-color: lightblue;
  }
  
  #right {
    flex: 1;
    padding: 20px;
    background-color: lightgreen;
  }
  
  body {
    text-align: center;
  }
  
  h1 {
    color: navy;
    font-family: sans-serif;
  }
  
  h2 {
    color: green;
    font-family: sans-serif;
  }
  
  p {
    color: maroon;
    font-family: serif;
  }
   */

   /* #main {
    display: flex;
    min-height: 100vh; /* set the minimum height of the div to the height of the viewport */
  /* } */
  
  /* #left {
    flex: 2;
    padding: 20px;
    background-color: lightblue;
  } */
/*   
  #right {
    flex: 1;
    padding: 20px;
    background-color: lightblue;
  } */

  body {
    text-align: left;
    background-color: #F2F2F2;
    font-family: 'Courier New', monospace;
  }
  
  h1 {
    color: #222;
    /* font-family: sans-serif;
     */
     font-family: 'Courier New', monospace;

  }
  
  h2 {
    color: #444;
    /* font-family: sans-serif; */
  }
  
  p {
    color: #888;
    /* font-family: serif; */
  }
.left{
  padding: 5px;
}
#main {
  display: flex;
  min-height: 96vh;
  /* border: 2px red solid; */
  padding: 10px;
}

#left {
  border-radius: 10px;
  flex: 2;
  padding: 10px;
  background-color: #E6E6E6;
  /* border: 2px #E6E6E6; */
  margin-right: 10px;
}

#right {
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  background-color: #E6E6E6;
  /* border: 2px red solid; */
}

/* New divs */
#left2 {
  border-radius: 10px;
  flex: 2;
  padding: 10px;
  background-color: #E6E6E6;
  /* border: 2px red solid; */
  /* margin-right: 10px; */
}

#right2 {
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  background-color: #E6E6E6;
  /* border: 2px red solid; */
  margin-right: 10px;
}